<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/favicon.ico">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1>
            NASA APOD
        </h1>
        <div class="main-content">
            <form>
                <label for="date">Select Date:</label>
                <input type="date" id="date" name="date">
                <button>Search</button>
                <img src="" alt="" id="image1">
                <p class="message1"></p>
            </form>
        </div>
        <script src="/js/app.js"></script>
    </body>
</html>
